<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>LANDVIBE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h1>LANDVIBE BANK</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/core/members/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/core/members">회원 목록</a>
        </p>
        <p class="lead">입금 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/core/deposit">입금</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
